(
    mappings: {
        "EnemyDestroyed": Tier3,
        "PlayerDeath": Tier1,
        "PlayerRespawned": Tier2,
        "ChunkLoaded": Tier3,
        "ChunkUnloaded": Tier3,
        "WeaponFired": Tier3,
        "WeaponSwitched": Tier3,
        "GameSaved": Tier2,
        "TutorialZoneSpawned": Tier2,
        "StationDocked": Tier1,
        "GeneratorDestroyed": Tier1,
        "TutorialComplete": Tier1,
        "CreditsEarned": Tier3,
        "MaterialCollected": Tier3,
        "UpgradeCrafted": Tier2,
        "CompanionRecruited": Tier1,
        "BossSpawned": Tier1,
        "BossDestroyed": Tier1,
    },
)
