(
    schema_version: 8,
    position: (
        0.0,
        0.0,
    ),
    rotation: -0.021447852,
    velocity: (
        0.0,
        0.0,
    ),
    health_current: 100.0,
    health_max: 100.0,
    active_weapon: "Spread",
    energy_current: 100.0,
    energy_max: 100.0,
    credits: 433,
    inventory_common_scrap: 5,
    inventory_rare_alloy: 1,
    inventory_energy_core: 1,
    upgrade_ship_thrust: 0,
    upgrade_ship_max_speed: 0,
    upgrade_ship_rotation: 0,
    upgrade_ship_energy_capacity: 0,
    upgrade_ship_energy_regen: 0,
    upgrade_ship_scanner_range: 0,
    upgrade_ship_hull_strength: 0,
    upgrade_ship_cargo_capacity: 0,
    upgrade_weapon_laser_damage: 0,
    upgrade_weapon_laser_fire_rate: 0,
    upgrade_weapon_spread_damage: 0,
    upgrade_weapon_spread_fire_rate: 0,
    upgrade_weapon_energy_efficiency: 0,
    companions: [],
    logbook_entries: [],
    cleared_wormholes: [],
    tutorial_complete: true,
)