(
    schema_version: 8,
    seed: 42,
    explored_chunks: [
        (
            (
                -4,
                -3,
            ),
            "AsteroidField",
        ),
        (
            (
                -4,
                -2,
            ),
            "AsteroidField",
        ),
        (
            (
                -4,
                -1,
            ),
            "DeepSpace",
        ),
        (
            (
                -4,
                0,
            ),
            "DeepSpace",
        ),
        (
            (
                -4,
                1,
            ),
            "AsteroidField",
        ),
        (
            (
                -3,
                -3,
            ),
            "DeepSpace",
        ),
        (
            (
                -3,
                -2,
            ),
            "WreckField",
        ),
        (
            (
                -3,
                -1,
            ),
            "WreckField",
        ),
        (
            (
                -3,
                0,
            ),
            "AsteroidField",
        ),
        (
            (
                -3,
                1,
            ),
            "DeepSpace",
        ),
        (
            (
                -3,
                2,
            ),
            "WreckField",
        ),
        (
            (
                -2,
                -3,
            ),
            "WreckField",
        ),
        (
            (
                -2,
                -2,
            ),
            "WreckField",
        ),
        (
            (
                -2,
                -1,
            ),
            "WreckField",
        ),
        (
            (
                -2,
                0,
            ),
            "AsteroidField",
        ),
        (
            (
                -2,
                1,
            ),
            "AsteroidField",
        ),
        (
            (
                -2,
                2,
            ),
            "WreckField",
        ),
        (
            (
                -1,
                -4,
            ),
            "AsteroidField",
        ),
        (
            (
                -1,
                -3,
            ),
            "AsteroidField",
        ),
        (
            (
                -1,
                -2,
            ),
            "DeepSpace",
        ),
        (
            (
                -1,
                -1,
            ),
            "AsteroidField",
        ),
        (
            (
                -1,
                0,
            ),
            "AsteroidField",
        ),
        (
            (
                -1,
                1,
            ),
            "AsteroidField",
        ),
        (
            (
                -1,
                2,
            ),
            "AsteroidField",
        ),
        (
            (
                0,
                -4,
            ),
            "DeepSpace",
        ),
        (
            (
                0,
                -3,
            ),
            "AsteroidField",
        ),
        (
            (
                0,
                -2,
            ),
            "AsteroidField",
        ),
        (
            (
                0,
                -1,
            ),
            "AsteroidField",
        ),
        (
            (
                0,
                0,
            ),
            "AsteroidField",
        ),
        (
            (
                0,
                1,
            ),
            "AsteroidField",
        ),
        (
            (
                0,
                2,
            ),
            "AsteroidField",
        ),
        (
            (
                1,
                -4,
            ),
            "DeepSpace",
        ),
        (
            (
                1,
                -3,
            ),
            "WreckField",
        ),
        (
            (
                1,
                -2,
            ),
            "WreckField",
        ),
        (
            (
                1,
                -1,
            ),
            "AsteroidField",
        ),
        (
            (
                1,
                0,
            ),
            "WreckField",
        ),
        (
            (
                1,
                1,
            ),
            "WreckField",
        ),
        (
            (
                1,
                2,
            ),
            "AsteroidField",
        ),
        (
            (
                2,
                -4,
            ),
            "DeepSpace",
        ),
        (
            (
                2,
                -3,
            ),
            "DeepSpace",
        ),
        (
            (
                2,
                -2,
            ),
            "AsteroidField",
        ),
        (
            (
                2,
                -1,
            ),
            "AsteroidField",
        ),
        (
            (
                2,
                0,
            ),
            "WreckField",
        ),
        (
            (
                2,
                1,
            ),
            "WreckField",
        ),
        (
            (
                2,
                2,
            ),
            "AsteroidField",
        ),
        (
            (
                3,
                -4,
            ),
            "AsteroidField",
        ),
        (
            (
                3,
                -3,
            ),
            "AsteroidField",
        ),
        (
            (
                3,
                -2,
            ),
            "WreckField",
        ),
        (
            (
                3,
                -1,
            ),
            "AsteroidField",
        ),
        (
            (
                3,
                0,
            ),
            "DeepSpace",
        ),
        (
            (
                3,
                1,
            ),
            "AsteroidField",
        ),
        (
            (
                4,
                -4,
            ),
            "AsteroidField",
        ),
        (
            (
                4,
                -3,
            ),
            "AsteroidField",
        ),
        (
            (
                4,
                -2,
            ),
            "WreckField",
        ),
        (
            (
                4,
                -1,
            ),
            "WreckField",
        ),
        (
            (
                4,
                0,
            ),
            "AsteroidField",
        ),
        (
            (
                5,
                -4,
            ),
            "DeepSpace",
        ),
        (
            (
                5,
                -3,
            ),
            "AsteroidField",
        ),
        (
            (
                5,
                -2,
            ),
            "AsteroidField",
        ),
        (
            (
                5,
                -1,
            ),
            "AsteroidField",
        ),
        (
            (
                5,
                0,
            ),
            "AsteroidField",
        ),
        (
            (
                5,
                1,
            ),
            "AsteroidField",
        ),
        (
            (
                6,
                -4,
            ),
            "DeepSpace",
        ),
        (
            (
                6,
                -3,
            ),
            "AsteroidField",
        ),
        (
            (
                6,
                -2,
            ),
            "WreckField",
        ),
        (
            (
                6,
                -1,
            ),
            "WreckField",
        ),
        (
            (
                6,
                0,
            ),
            "AsteroidField",
        ),
        (
            (
                6,
                1,
            ),
            "AsteroidField",
        ),
        (
            (
                7,
                -4,
            ),
            "WreckField",
        ),
        (
            (
                7,
                -3,
            ),
            "WreckField",
        ),
        (
            (
                7,
                -2,
            ),
            "AsteroidField",
        ),
        (
            (
                7,
                -1,
            ),
            "WreckField",
        ),
        (
            (
                7,
                0,
            ),
            "AsteroidField",
        ),
        (
            (
                7,
                1,
            ),
            "AsteroidField",
        ),
        (
            (
                8,
                -4,
            ),
            "WreckField",
        ),
        (
            (
                8,
                -3,
            ),
            "WreckField",
        ),
        (
            (
                8,
                -2,
            ),
            "AsteroidField",
        ),
        (
            (
                8,
                -1,
            ),
            "AsteroidField",
        ),
        (
            (
                8,
                0,
            ),
            "AsteroidField",
        ),
        (
            (
                8,
                1,
            ),
            "DeepSpace",
        ),
        (
            (
                9,
                -4,
            ),
            "AsteroidField",
        ),
        (
            (
                9,
                -3,
            ),
            "DeepSpace",
        ),
        (
            (
                9,
                -2,
            ),
            "DeepSpace",
        ),
        (
            (
                9,
                -1,
            ),
            "AsteroidField",
        ),
        (
            (
                9,
                0,
            ),
            "AsteroidField",
        ),
        (
            (
                9,
                1,
            ),
            "DeepSpace",
        ),
    ],
    chunk_deltas: [
        (
            coord: (
                x: -1,
                y: -1,
            ),
            destroyed: [
                9,
                8,
            ],
        ),
        (
            coord: (
                x: -1,
                y: 1,
            ),
            destroyed: [
                11,
            ],
        ),
    ],
)